.header {
    padding: 10px;

}

.header .ant-btn {
    box-shadow: none !important;
    background-color: white !important;
    color: orangered !important;
    border: 1px solid orangered !important;
    padding: 5px 15px !important;
    outline: none !important;
}

.bs1 {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.containerr{
    width: 100%;

    display:flex;
    flex-direction: row;
}



a{

font: rgb(208, 48, 48);
border: solid red;
}
